<% users.each do |user| %>
  <%= link_to user do %>
    <div class="col-xs-3">
      <%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg", :size =>'100x100', class: "rounded-circle border border-white") %>
    </div>
  <% end %>
  <div class="col-md-6">
    <%= link_to user, class: "user-link" do %>
      <span style="font-size: 28px;"><%= user.name %></span>
    <% end %>
  <br>
    <span><%= user.introduction %></span>
  </div>
  <div class="col-md-4">
    フォロー数：<%= user.follower.count %>
    フォロワー数：<%= user.followed.count %>
    <% if user_signed_in? %>
      <% if current_user != user %>
        <div class="user-follow" style="display: inline;">
          <%= render 'users/follow', user: user %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
<% end %>