<% users.each do |user| %>
  <%= link_to user do %>
    <div class="col-xs-3">
      <%= attachment_image_tag(user, :profile_image, fallback: "no_image.jpg", :size =>'100x100', class: "rounded-circle border border-white") %>
    </div>
  <% end %>
  <div class="col-md-6">
    <%= link_to user, class: "user-link" do %>
      <span style="font-size: 28px;"><%= user.name %>@<%= user.at_name %></span>
    <% end %>
  <br>
    <span><%= user.introduction %></span>
  </div>
  <div class="col-md-4">
    <div class="user-follow_<%= user.id %>" style="display: inline;">
      <%= render 'users/follow', user: user %>
    </div>
  </div>
<% end %>
