<% if @users.present? %>
  "<%= @content %>"の検索結果
  <div class="col-md-12">
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <%= f.hidden_field :title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont, autofocus: true, placeholder: "Search...", :value => @content %>
      <button type="submit" class="btn btn-success">
        投稿を検索
      </button>
    <% end %>
  </div>
  <hr>
<div class="row">
  <% if @users.count > 0 %>
    <%= render 'users/index', users: @users %>
  <% end %>
  <% else %>
    "<%= @content %>"の検索結果ヒットしませんでした。
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <%= f.hidden_field :title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont, autofocus: true, placeholder: "Search...", :value => @content %>
        <button type="submit" class="btn btn-success">
          投稿を検索
        </button>
    <% end %>
  <% end %>
</div>
