<div class="row">
  <div class="offset-md-1" style="margin-right: 20px;">
    <%= attachment_image_tag @user, :profile_image, class: "rounded-circle border border-white", format: 'jpeg', fallback: "no_image.jpg",:size =>'200x200' %>
  </div>
  <div class="col-md-5" style="padding-top: 60px;">
    <span style="font-size:24px;"><%= @user.name %>@<%= @user.at_name %></span>
    <% if current_user == @user %>
       <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
    <% end %><br>
    <span><%= @user.introduction %></span>
  </div>
</div>
<div class="row">
  <div class="follow-count">
        <div class="user-follow_<%= @user.id %>" style="display: inline;">
          <%= render 'users/follow', user: @user %>
        </div>
  </div>
</div>
<hr>
</div>
 <div class="container">
    <div class="row align-items-strech">
      <%= render 'posts/index', posts: @user.posts.order(created_at: "DESC") %>
    </div>
</div>