<div class="row">
  <div class="offset-md-1" style="margin-right: 20px;">
    <%= attachment_image_tag @user, :profile_image, class: "rounded-circle border border-white", format: 'jpeg', fallback: "no_image.jpg",:size =>'200x200' %>
  </div>
  <div class="col-md-5" style="padding-top: 60px;">
    <span style="font-size:24px;"><%= @user.name %>@<%= @user.at_name %></span>
    <% if current_user == @user %>
       <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
    <% end %><br>
    <span><%= @user.introduction %></span>
  </div>
</div>
<div class="row">
  <div class="follow-count">
    <%= link_to user_follows_path(@user.id), class: "link" do %>
      フォロー数：<%= @user.follower.count %>
    <% end %>
    <%= link_to user_followers_path(@user.id), class: "link" do %>
      フォロワー数：<%= @user.followed.count %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user != @user %>
        <div class="user-follow" style="display: inline;">
          <%= render 'users/follow', user: @user %>
        </div>
        <%= link_to 'メッセージを送る', chat_path(@user.id), class: "btn btn-outline-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
</div>
 <div class="container">
    <div class="row align-items-strech">
      <%= render 'posts/index', posts: @user.posts %>
    </div>
</div>