<% posts.reverse_each do |post| %>
  <div class="col-md-4">
    <div class="post-grid">
      <div class="post-image">
        <%= attachment_image_tag post, :post_image, format: 'jpg', fallback: "no_image.jpg" %>
      </div>
      <div class="post-content">
        <h3 class="title"><%= link_to post.title, post_path(post.id) %></h3>
        <div class="post-user">
          <span><%= post.pc_introduction %></span></br>
          <%= link_to  user_path(post.user_id), class: "user-link" do %>
            <%= attachment_image_tag post.user, :profile_image, class: "rounded-circle border border-dark", format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
            <span><%= post.user.name %>@<%= post.user.at_name %></span></br>
          <% end %>
          <% if user_signed_in? %>
            <div class="post-favorite_<%= post.id %>" style="display: inline;">
              <%= render 'posts/favorite', post: post %>
            </div>
          <% else %>
          <%= link_to new_user_session_path do %>
            <i class="far fa-heart" aria-hidden="true"></i>
            <%= post.favorites.count %>
          <% end %>
          <% end %>
            |
            <span><i class="fa fa-comment"></i><%= link_to "#{post.post_comments.count}", post_path(post.id) %></span>
            |
            <span><i class="fa fa-tags"></i>
              <% post.tag_list.first(3).each do |tag| %>
                <%= link_to tag, posts_path(tag_name: tag), class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
              <% end %>
            </span>|
            <%= link_to '', "https://twitter.com/share?url=#{request.url}/#{post.id}&text=#{ post.title }/&hashtags=Pclder", class: 'fab fa-twitter fa-lg', data: { show_count: false }, title: 'Twitter', target: '_blank', style: "text-decoration: none;" %>
            <span>
              <%= link_to "https://line.me/R/msg/text/?#{request.url}/#{post.id}" do %>
                <div class="line-it-button" data-lang="ja" data-type="share-b" data-color="default" data-size="small" data-count="false" style="display: none; "></div>
              <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  </hr>
<% end %>