<% if @posts %>
　<span>人気のタグ：</span>
  <% @popular_tags.each do |tag| %>
     <%= link_to tag, posts_path(tag_name: tag.name), class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
  <% end %>
<h3 class="h3"></h3>
 <div class="container" id=post>
    <div class="row align-items-strech post-body">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
  <div class="page-load-status spinner-grow text-muted offset-md-5 col-md-2">
    <div class="infinite-scroll-request spinner-grow text-muted offset-md-5 col-md-2"></div>
    <div class="infinite-scroll-last offset-md-5 col-md-2">これ以上読み込めません</div>
    <div class="infinite-scroll-error offset-md-5 col-md-2">error</div>
  </div>
<% elsif @q_posts %>
  <% if @q_posts.present? %>
    "<%= @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>"の検索結果
    <div class="col-md-12">
      <%= form_tag(search_users_path, method: :get) do %>
        <%= hidden_field_tag 'search[content]', @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>
        <button type="submit" class="btn btn-success">
         ユーザー検索
        </button>
      <% end %>
    </div>
    <hr>
     <div class="container" id=post>
      <div class="row align-items-strech post-body">
        <%= render 'index', posts: @q_posts %>
      </div>
     </div>
  <% else %>
  "<%= @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>"の検索結果
    ヒットしませんでした。
    <%= form_tag(search_users_path, method: :get) do %>
     <%= hidden_field_tag 'search[content]', @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>
        <button type="submit" class="btn btn-success">
            ユーザー検索
          </button>
        <% end %>
  <% end %>
<% end %>

 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<script>
$('#post').infiniteScroll({
  path: '/posts?page={{#}}' ,
  append: '.post-body',
  history: false,
  prefill: false,
  status: '.page-load-status',
});
</script>