<% if @posts %>
　<span>人気のタグ：</span>
  <% @popular_tags.each do |ptag| %>
     <%= link_to ptag, posts_path(tag_name: ptag), class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
  <% end %>
<h3 class="h3"></h3>
 <div class="container">
    <div class="row align-items-strech">

<% @posts.reverse_each do |post| %>
  <div class="col-md-4">
    <div class="post-grid">
      <div class="post-image">
        <%= attachment_image_tag post, :post_image, format: 'jpeg', fallback: "no_image.jpg" %>
      </div>
      <div class="post-content">
        <h3 class="title"><%= link_to post.title, post_path(post.id) %></h3>
        <div class="post-user">
          <span><%= post.pc_introduction %></span></br>
          <%= link_to  user_path(post.user_id), class: "user-link" do %>
            <%= attachment_image_tag post.user, :profile_image, class: "rounded-circle border border-dark", format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
            <span><%= post.user.name %>@<%= post.user.at_name %></span></br>
          <% end %>
          <% if user_signed_in? %>
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(post), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= post.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post do %>
                <i class="far fa-heart" aria-hidden="true"></i>
                <%= post.favorites.count %>
              <% end %>
            <% end %>
          <% else %>
          <%= link_to new_user_session_path do %>
            <i class="far fa-heart" aria-hidden="true"></i>
            <%= post.favorites.count %>
          <% end %>
          <% end %>
            |
            <span><i class="fa fa-comment"></i><%= link_to "#{post.post_comments.count}", post_path(post.id) %></span>
            |
            <span><i class="fa fa-tags"></i>
              <% post.tag_list.first(3).each do |tag| %>
                <%= link_to tag, posts_path(tag_name: tag), class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
              <% end %>
            </span>|
            <%= link_to '', "https://twitter.com/share?url=#{request.url}/#{post.id}&text=#{ post.title }/&hashtags=Pclder", class: 'fab fa-twitter fa-lg', data: { show_count: false }, title: 'Twitter', target: '_blank', style: "text-decoration: none;" %>
            <span>
              <%= link_to "https://line.me/R/msg/text/?#{request.url}/#{post.id}" do %>
                <div class="line-it-button" data-lang="ja" data-type="share-b" data-color="default" data-size="small" data-count="false" style="display: none; "></div>
              <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  </hr>
<% end %>


<% elsif @q_posts %>
  <% if @q_posts.present? %>
    "<%= @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>"の検索結果
    <div class="col-md-12">
      <%= form_tag(search_users_path, method: :get) do %>
        <%= hidden_field_tag 'search[content]', @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>
        <button type="submit" class="btn btn-success">
         ユーザー検索
        </button>
      <% end %>
    </div>
    <hr>
     <div class="container">
      <div class="row align-items-strech">
        <% @q_posts.reverse_each do |post| %>
          <div class="col-md-4">
            <div class="post-grid">
              <div class="post-image">
                <%= attachment_image_tag post, :post_image, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <div class="post-content">
                <h3 class="title"><%= link_to post.title, post_path(post.id) %></h3>
                <div class="post-user">
                  <span><%= post.pc_introduction %></span></br>
                  <%= link_to  user_path(post.user_id) do %>
                    <%= attachment_image_tag post.user, :profile_image, class: "rounded-circle border border-dark", format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
                  <% end %>
                  <span><%= post.user.name %>@<%= post.user.at_name %></span></br>
                  <% if user_signed_in? %>
                    <% if post.favorited_by?(current_user) %>
                      <%= link_to post_favorites_path(post), method: :delete do %>
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        <%= post.favorites.count %>
                      <% end %>
                    <% else %>
                      <%= link_to post_favorites_path(post), method: :post do %>
                        <i class="far fa-heart" aria-hidden="true"></i>
                        <%= post.favorites.count %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to new_user_session_path do %>
                      <i class="far fa-heart" aria-hidden="true"></i>
                      <%= post.favorites.count %>
                    <% end %>
                  <% end %>
                  |
                  <span><i class="fa fa-comment"></i><%= link_to "#{post.post_comments.count}", post_path(post.id) %></span>
                  |
                  <span><i class="fa fa-tags"></i>
                    <% post.tag_list.first(3).each do |tag| %>
                      <%= link_to tag, posts_path(tag_name: tag), class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
                    <% end %>
                  </span>|
                  <%= link_to '', "https://twitter.com/share?url=#{request.url}/#{post.id}&text=#{ post.title }/&hashtags=Pclder", class: 'fab fa-twitter fa-lg', data: { show_count: false }, title: 'Twitter', target: '_blank', style: "text-decoration: none;" %>
                  <span>
                    <%= link_to "https://line.me/R/msg/text/?#{request.url}/#{post.id}" do %>
                      <div class="line-it-button" data-lang="ja" data-type="share-b" data-color="default" data-size="small" data-count="false" style="display: none; "></div>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </hr>
          <% end %>
        </div>
      </div>
  <% else %>
  "<%= @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>"の検索結果
    ヒットしませんでした。
    <%= form_tag(search_users_path, method: :get) do %>
     <%= hidden_field_tag 'search[content]', @q.title_or_cpu_name_or_cooler_name_or_motherboard_name_or_memory_name_or_gpu_name_or_storage_name_or_case_name_or_power_supply_name_or_other_or_pc_introduction_or_value_or_tag_list_cont %>
        <button type="submit" class="btn btn-success">
            ユーザー検索
          </button>
        <% end %>
  <% end %>
<% end %>

 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
