<div class="row">
    <div class="col-md-4">
	   <%= link_to  user_path(@post.user_id), class: "user-link" do %>
                 <%= attachment_image_tag @post.user, :profile_image, class: "rounded-circle border border-white", format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
                 <span><%= @post.user.name %>@<%= @post.user.at_name %></span>
      <% end %>
    </div>
    <div class="offset-md-9">
      <% if @post.user == current_user %>
        <%=link_to '編集', edit_post_path(@post.id) %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' } %>
      <% end %>
    </div>
    <div class="col-md-8">
    <%= attachment_image_tag @post, :post_image, format: 'jpeg', fallback: "no_image.jpg", class: "show-image" %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= @post.title %>
  </div>
  <div id='good_list'>
     <%= render partial: 'good_list' %>
  </div>
    <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: black;">楽天市場検索結果</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <%= render partial: 'good_list' %>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-dark table-hover offset-md-1 col-md-9">
    <thead>
      <tr>
        <th>パーツリスト</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CPU</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.cpu_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.cpu_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>CPUクーラー</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.cooler_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.cooler_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>マザーボード</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.motherboard_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.motherboard_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>メモリ</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.memory_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.memory_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>GPU</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.gpu_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.gpu_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>ストレージ</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.storage_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.storage_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>ケース</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.case_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.case_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>電源</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.power_supply_name,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.power_supply_name %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>その他</td>
        <td><%= form_tag post_path(@post), method: :get, remote: true do %>
              <%= hidden_field_tag :keyword, @post.other,  id: "good_search" %>
              <button class="btn" type="submit" style="color:white;"><%= @post.other %></button>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>金額</td>
        <td>&nbsp;&nbsp;&nbsp;<%= @post.value %></td>
      </tr>
      <tr>
        <td>タグ</td>
        <td><% @post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag_name: tag),class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
<div class="row  border border-secondary">
  <span>紹介</span>
  <div class="col-md-12">
    <%= @post.pc_introduction %>
  </div>
</div>
<div class="row">
  <div class="offset-md-10">
    <% if user_signed_in? %>
      <div class="post-favorite_<%= @post.id %>" style="display: inline;">
        <%= render 'favorite', post: @post %>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="far fa-heart" aria-hidden="true"></i>
        <%= @post.favorites.count %>
      <% end %>
    <% end %>
    <div class="share">
    <%= link_to '', "https://twitter.com/share?url=#{request.url}&text=#{ @post.title }/&hashtags=Pclder", class: 'fab fa-twitter', data: { show_count: false }, title: 'Twitter', target: '_blank' %>
    </div>
    <div class="share">
    <%= link_to "https://line.me/R/msg/text/?#{request.url}" do %>
        <div class="line-it-button" data-lang="ja" data-type="share-b" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
    <% end %>
    </div>
  </div>
</div>
<div class="row post-comment">
  <%= render 'comment', post_comments: @post.post_comments %>
</div>
<div class="row">
  <div class="col-md-12">
  <%= form_with model:[@post, @post_comment], data: {remote: true} do |f| %>
      <%= f.text_area :comment, class: "form-control col-md-12", placeholder: "コメントをここに" %>
      <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" , style: "color:white;" %>
  <% end %>
  </div>
</div>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>