
	  <%= link_to  user_path(@post.user_id) do %>
                 <%= attachment_image_tag @post.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
      <% end %>
      <%= attachment_image_tag @post, :post_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
      <%= @post.title %>
      <%= @post.cpu_name %>
      <%= @post.cooler_name %>
      <%= @post.motherboard_name %>
      <%= @post.memory_name %>
      <%= @post.gpu_name %>
      <%= @post.storage_name %>
      <%= @post.case_name %>
      <%= @post.power_supply_name %>
      <%= @post.other %>
      <%= @post.pc_introduction %>
      <%= @post.value %>
      <%= @post.tag_list %>
           <% @post.tag_list.each do |tag| %>
            <%= link_to tag, root_path,class: "badge badge-success p-1 badge-tag",data: {"turbolinks" => false} %>
          <% end %>
            <%=link_to '編集', edit_post_path(@post.id) %>
      <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' } %>

    <%= link_to '', "https://twitter.com/share?url=#{request.url}&text=#{ @post.title }/&hashtags=Pclder", class: 'fab fa-twitter', data: { show_count: false }, title: 'Twitter', target: '_blank' %>
    <%= link_to "https://line.me/R/msg/text/?#{request.url}" do %>
        <div class="line-it-button" data-lang="ja" data-type="share-b" data-color="default" data-size="small" data-count="true" style="display: none;"></div>
    <% end %>

       <i class="fa fa-comment"></i>
  <a href="#comments"><%= @post.post_comments.count %></a>
    <div class="comment-list bt style-2" id="comments">
     <div class="float-wrapper">
     <h2 class="comment-count"><%= @post.post_comments.count %>件コメント</h2>
     </div>
     <% if @post.favorited_by?(current_user) %>
       <%= link_to post_favorites_path(@post), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
     <%= @post.favorites.count %>いいね
  <% end %>
<% else %>
  <%= link_to post_favorites_path(@post), method: :post do %>
    <i class="far fa-heart" aria-hidden="true"></i>
    <%= @post.favorites.count %>いいね
  <% end %>
<% end %>

 <% @post.post_comments.each do |post_comment| %>
      <div class="comment-body bb">
        <div class="comment-avatar">
          <div class="avatar">
            <%= attachment_image_tag post_comment.post, :post_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",:size =>'40x40' %>
          </div>
        </div>
        <div class="comment-text">
          <div class="comment-author clearfix">
            <a href="#" class="link-author"><%= post_comment.user.name %></a>
            <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d/%H:%M:%S') %></span>
            </span>



          <div class="comment-entry"><%= post_comment.comment %></div>
          <% if post_comment.user == current_user%>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger pull-right" %>

            </div>
  <% end %>
        </div>
  <% end %>




<%= form_for [@post, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>